<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% if title %}
        <title>MyBlog - {{title}}</title>
        {% else %}
        <title>MyBlog</title>
        {% endif %}
    </head>
    <body>
        <div><a href="/">Home</a></div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        
        {% block content %}
        {% endblock %}
    </body>
</html>